<a-scene id="scene" cursor="rayOrigin: mouse" physics="debug: true; friction: 0.6; restitution: 0.05" embedded>
    <a-assets>
        <img id='board' src='/assets/{{game}}/images/{{boardImage}}' />
        {% for card in deck %}
        <img id='{{ card.name }}' src='/assets/{{game}}/images/{{card.image}}' />
        {% endfor %}
    </a-assets>
    <a-entity id='rig'>
        <a-camera fov='70' >
            <a-hand id='hand' position='0 -1.5 -2'>
            </a-hand>
        </a-camera>
    </a-entity>
    <a-entity template="src: /assets/templates/boxes.njk; type: nunjucks"
        data-box1color="red" data-box2color="green" data-box3color="blue"></a-entity>
    <a-image
    src= '#board'
    static-body
    position='0 -2 -3'
    rotation='-90 0 0'
    width='6'
    height='4'>
    </a-image>
   
    <a-deck rotation='-90 0 0' position='0 -2 -2'>
    {% for card in deck %}
        <a-piece dynamic=false position='0 0 {{ loop.index0 * 0.01 - deck.length * 0.005 }}' front='#{{ card.name }}' /></a-piece>
    {% endfor %}
    </a-deck>

    <a-box dynamic-body position='-1 0.5 -3' rotation='44 44 0' color='#4CC3D9'>
    </a-box>
    <a-sphere dynamic-body position='0 1.25 -5' radius='1.25' color='#EF2D5E'>
    </a-sphere>
    <a-cylinder
    dynamic-body 
    position='1 0.75 -3'
    radius='0.5'
    height='1.5'
    color='#FFC65D'
    >
    </a-cylinder>
    <a-light type='ambient' color='#445451'></a-light>
    
    <a-light type='point' intensity='2' position='2 4 4'></a-light>

    <a-sky color='#333333' />
</a-scene>
