{% set inspector = 'inspector="url: http://localhost:3333/dist/aframe-inspector.js"' if process.env.NODE_ENV != 'production' else '' %}
<a-scene id="scene" cursor="rayOrigin: mouse" raycaster="far: 20; objects: a-piece, a-deck" physics="driver: ammo; debug: false;" shadow="type: pcfsoft" {{ inspector | safe }} embedded>
    <a-assets>
        <img id='board' src='/assets/{{game}}/images/{{boardImage}}' />
        {% for card in playerdeck %}
        <img id='{{ card.name }}' src='/assets/{{game}}/images/{{card.front}}' />
        {% endfor %}
        {% for card in infectiondeck %}
        <img id='{{ card.name }}' src='/assets/{{game}}/images/{{card.front}}' />
        {% endfor %}
        <img id='Player Card Back' src='/assets/{{game}}/images/{{ playerdeck[0].back }}' />
        <img id='Infection Card Back' src='/assets/{{game}}/images/{{ infectiondeck[0].back }}' />
    </a-assets>
    <a-entity id='rig' position="0.5 2 -2.2" rotation="-80 0 0" camera="fov: 70" wasd-controls="acceleration: 100" game-controls>
        <a-hand id='hand' position='0 -1.5 -2'>
        </a-hand>
    </a-entity>
    <a-box id="ground" height="1000" width="1000" color="#111" depth="2" ammo-body="type: static" ammo-shape="type: box" position='0 -3 0'  rotation="-90 0 0"></a-box>
    <a-piece front='#board' 
    shadow
    src='#board'
    draggable='false'
    position='0 -2 -3'
    rotation='-90 0 0'
    width='6'
    height='4'
    depth='.1'
    /></a-piece>
   
    <a-deck rotation='-90 0 0' position='0.33 -2 -1.53' tooltip="Player\nDeck" text="color: #000">
    {% for card in playerdeck %}
        <a-piece front='#{{ card.name }}' back='#Player Card Back' /></a-piece>
    {% endfor %}
    </a-deck>

    <a-deck width=".8" height=".58" rotation='-90 0 0' position='0.3 -2 -4.60' tooltip="Infection\nDeck" draw="#infectionDiscard" >
    {% for card in infectiondeck %}
        <a-piece front='#{{ card.name }}' back='#Infection Card Back' /></a-piece>
    {% endfor %}
    </a-deck>

    <a-deck id='infectionDiscard' width=".8" height=".58" rotation='-90 0 0' position='1.2 -2 -4.60' tooltip="Infection\nDiscards" ></a-deck>

    <a-deck id='playerDiscard' rotation='-90 0 0' position='1.05 -2 -1.53' tooltip="Player\nDiscards" ></a-deck>

    <a-piece position='0, -2, -3' width='.1' height='.1' depth='.1' color='#F22' /></a-piece>
    <a-piece position='0, -1.9, -3' width='.1' height='.1' depth='.1' color='#22F' /></a-piece>
    <a-piece position='0, -1.8, -3' width='.1' height='.1' depth='.1' color='#222' /></a-piece>
    <a-piece position='0, -1.7, -3' width='.1' height='.1' depth='.1' color='#FF2' /></a-piece>

    <a-light type='ambient' color='#445451'></a-light>
    
    <a-light type='spot' intensity='.4' position='2 4 2' rotation="-18 5 0"  light='castShadow: true; shadowCameraVisible: true; shadowBias: -0.00001; shadowMapWidth: 1024; shadowMapHeight: 1024' ></a-light>
    <a-light type='spot' intensity='.4' position='2 4 2' rotation="-18 5 0" ></a-light>

    <a-sky color='#333333' />
</a-scene>
